* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(147, 148, 148);

  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #757575;
  font-size:10px;
}

.box{
  width: 200px;
  height: 100px;
  background-color: black;
  transform: rotateX(80deg);
}