<th:block th:fragment="logined-header">

    <!-- HEADER-->
    <div class="header-area">
        <div class="container">
            <div class="row upper-nav">
                <div class=" text-left nav-logo">
                    <a href="index-book-shop.html" class="navbar-brand"><img th:src="@{img/goodreads_logo.png}" alt="img"></a>
                </div>
                <div class="ml-auto nav-mega d-flex justify-content-end align-items-center">
                    <header class="site-header" id="header">
                        <nav class="navbar navbar-expand-md  static-nav">
                            <div class="container position-relative megamenu-custom">
                                <a class="navbar-brand center-brand" href="index-book-shop.html">
                                    <img th:src="@{img/logo.png}" alt="logo" class="logo-scrolled">
                                </a>
                                <div class="collapse navbar-collapse">
                                    <ul class="navbar-nav ml-auto">
                                        <li class="nav-item">
                                            <a class="nav-link" href="index-book-shop.html">HOME</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="index-book-shop.html">MY BOOKS</a>
                                        </li>
                                        <li class="nav-item dropdown static">
                                            <a class="nav-link dropdown-toggle active" href="javascript:void(0)"
                                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                BROWSE
                                            </a>
                                            <ul class="dropdown-menu megamenu flexable-megamenu">
                                                <li>
                                                    <div class="container">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-6 col-sm-12 mengmenu_border">
                                                                <ul>
                                                                    <h5 class="dropdown-title"></h5>
                                                                    <li><i
                                                                            class="lni-angle-double-right right-arrow"></i><a
                                                                            class="dropdown-item"
                                                                            href="book-shop\product-listing.html">Recommendations</a>
                                                                    </li>
                                                                    <li><i
                                                                            class="lni-angle-double-right right-arrow"></i><a
                                                                            class="dropdown-item"
                                                                            href="book-shop\product-listing.html">Choice
                                                                        Awards</a></li>
                                                                    <li><i
                                                                            class="lni-angle-double-right right-arrow"></i><a
                                                                            class="dropdown-item"
                                                                            href="book-shop\product-listing.html">Lists</a>
                                                                    </li>
                                                                    <li><i
                                                                            class="lni-angle-double-right right-arrow"></i><a
                                                                            class="dropdown-item"
                                                                            href="book-shop\product-listing.html">Giveaways</a>
                                                                    </li>
                                                                    <li><i
                                                                            class="lni-angle-double-right right-arrow"></i><a
                                                                            class="dropdown-item"
                                                                            href="book-shop\product-listing.html">New &
                                                                        Interviews</a></li>

                                                                </ul>

                                                            </div>
                                                            <div class="col-lg-3 col-md-6 col-sm-12 mengmenu_border">
                                                                <h5 class="dropdown-title"> FAVORITE GENRES </h5>
                                                                <ul>
                                                                    <li><i
                                                                            class="lni-angle-double-right right-arrow"></i><a
                                                                            class="dropdown-item"
                                                                            href="book-shop\product-listing.html">Romance</a>
                                                                    </li>
                                                                    <li><i
                                                                            class="lni-angle-double-right right-arrow"></i><a
                                                                            class="dropdown-item"
                                                                            href="book-shop\product-listing.html">Fantasy</a>
                                                                    </li>

                                                                </ul>


                                                            </div>

                                                            <div class="col-lg-6 col-md-12 col-sm-12">
                                                                <h5 class="dropdown-title text-left">NEW RELEASES
                                                                </h5>
                                                                <div class="carousel-menu mt-4">
                                                                    <div
                                                                            class="featured-megamenu-carousel owl-carousel owl-theme">
                                                                        <div class="item ">
                                                                            <img th:src="@{img/shop1.jpg}"
                                                                                 alt="shop-image">
                                                                        </div>
                                                                        <div class="item">
                                                                            <img th:src="@{img/shop2.jpg}"
                                                                                 alt="shop-image">
                                                                        </div>
                                                                    </div>
                                                                    <i class="lni-chevron-left ini-customPrevBtn"></i>
                                                                    <i class="lni-chevron-right ini-customNextBtn"></i>
                                                                </div>
                                                                <p class="mt-4 megamenu-slider-para">Lorem Ipsum is
                                                                    simply dummy text of the printing and typesetting
                                                                    industry.</p>
                                                                <a href="book-shop\product-listing.html"
                                                                   class="btn black-border-color-yellow-gradient-btn slider-btn text-left">Find
                                                                    More</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>

                                        <li class="nav-item dropdown position-relative">
                                            <a class="nav-link dropdown-toggle" href="javascript:void(0)"
                                               data-toggle="dropdown" aria-haspopup="true"
                                               aria-expanded="false">COMMUNITY</a>
                                            <div class="dropdown-menu">
                                                <ul>
                                                    <li><i class="lni-angle-double-right right-arrow"></i><a
                                                            class="dropdown-item"
                                                            href="book-shop\product-listing.html">Groups</a></li>
                                                    <li><i class="lni-angle-double-right right-arrow"></i><a
                                                            class="dropdown-item"
                                                            href="book-shop\product-detail.html">Discussions</a></li>
                                                    <li><i class="lni-angle-double-right right-arrow"></i><a
                                                            class="dropdown-item"
                                                            href="book-shop/shop-cart.html.html">Quotes</a></li>
                                                    <li><i class="lni-angle-double-right right-arrow"></i><a
                                                            class="dropdown-item"
                                                            href="book-shop/shop-cart.html.html">People</a></li>
                                                    <li><i class="lni-angle-double-right right-arrow"></i><a
                                                            class="dropdown-item"
                                                            href="book-shop/shop-cart.html.html">Ask the Author</a></li>
                                                </ul>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </nav>

                        <!-- side menu -->
                        <div class="side-menu opacity-0 gradient-bg hidden">
                            <div class="inner-wrapper">
                                <span class="btn-close btn-close-no-padding" id="btn_sideNavClose"></span>
                                <nav class="side-nav w-100">
                                    <ul class="navbar-nav">
                                        <h6 class="mb-5">Xin chào, <span class="username">Tai Dao!</span></h6>
                                        <li class="nav-item">
                                            <a class="nav-link" href="book-shop\product-listing.html">PROFILE</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="book-shop\product-listing.html">FRIENDS</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="book-shop\product-listing.html">GROUPS</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="book-shop\product-listing.html">DISCUSSIONS</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="book-shop\product-listing.html">COMMENTS</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="book-shop\product-listing.html">READING
                                                CHALLENGE</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="book-shop\product-listing.html">QUOTES</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="book-shop\product-listing.html">FAVORITE
                                                GENRES</a>
                                        </li>
                                        <div class="dropdown-divider"></div>
                                        <li class="nav-item">
                                            <a class="nav-link" href="book-shop\product-listing.html">ACCOUNT
                                                SETTINGS</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link sign-out">SIGN OUT</a>
                                        </li>
                                    </ul>
                                </nav>
                                <div class="side-footer w-100">
                                    <ul class="social-icons-simple white top40">
                                        <li><a class="facebook-bg-hvr" href="javascript:void(0)"><i
                                                class="fab fa-facebook-f"></i> </a></li>
                                        <li><a class="twitter-bg-hvr" href="javascript:void(0)"><i
                                                class="fab fa-twitter"></i> </a></li>
                                        <li><a class="instagram-bg-hvr" href="javascript:void(0)"><i
                                                class="fab fa-instagram"></i> </a></li>
                                    </ul>
                                    <p class="whitecolor">&copy; <span id="year"></span> 2023 DT'books</p>
                                </div>
                            </div>
                        </div>
                        <div id="close_side_menu" class="tooltip"></div>
                        <!-- End side menu -->

                    </header>
                    <div class="nav-utility">
                        <div class="manage-icons d-inline-block">
                            <ul class="d-flex justify-content-center align-items-center">

                                <li class="d-inline-block">
                                    <div class="input-group mb-1">
                                        <input type="text" class="form-control" placeholder="Search">
                                        <div class="input-group-append">
                                            <button class="btn btn-regis-signin" type="submit"><i
                                                    class="lni lni-search search-sidebar-hover"></i></button>
                                        </div>
                                    </div>
                                </li>

                                <li class="d-inline-block ">
                                    <button type="button" class="btn btn-light btn-notification rounded-circle"
                                            data-toggle="dropdown">
                                        <i class="fa-solid fa-bell"></i>
                                    </button>
                                    <div class="count-notification rounded-circle d-flex">
                                        <span class="pt-1">3</span>
                                    </div>
                                    <!--                                    <span class="count-notification rounded-circle">-->
                                    <!--                                       3-->
                                    <!--                                    </span>-->
                                    <!-- <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">Link 1</a>
                                        <a class="dropdown-item" href="#">Link 2</a>
                                        <a class="dropdown-item" href="#">Link 3</a>
                                    </div> -->
                                </li>
                                <a href="javascript:void(0)" class="d-inline-block avatar rounded-circle"
                                   style="height: 38px;width: 38px; object-fit: cover; overflow: hidden;"
                                   id="sidemenu_toggle">
                                    <img src="img/author4.jpg" alt="">
                                </a>

                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- END HEADER-->

</th:block>

<!--<th:block th:fragment="unLogined-header">-->

<!--    &lt;!&ndash; HEADER&ndash;&gt;-->
<!--    <div class="header-area">-->
<!--        <div class="container">-->
<!--            <div class="row upper-nav">-->
<!--                <div class=" text-left nav-logo">-->
<!--                    <a href="index-book-shop.html" class="navbar-brand"><img th:src="@{img/logo.png}" alt="img"></a>-->
<!--                </div>-->
<!--                <div class="ml-auto nav-mega d-flex justify-content-end align-items-center">-->
<!--                    <header class="site-header" id="header">-->
<!--                        <nav class="navbar navbar-expand-md  static-nav">-->
<!--                            <div class="container position-relative megamenu-custom">-->
<!--                                <a class="navbar-brand center-brand" href="index-book-shop.html">-->
<!--                                    <img th:src="@{img/logo.png}" alt="logo" class="logo-scrolled">-->
<!--                                </a>-->
<!--                                <div class="collapse navbar-collapse">-->
<!--                                    <ul class="navbar-nav ml-auto">-->
<!--                                        <li class="nav-item">-->
<!--                                            <a class="nav-link" href="index-book-shop.html">HOME</a>-->
<!--                                        </li>-->
<!--                                        <li class="nav-item">-->
<!--                                            <a class="nav-link" href="index-book-shop.html">MY BOOKS</a>-->
<!--                                        </li>-->
<!--                                        <li class="nav-item dropdown static">-->
<!--                                            <a class="nav-link dropdown-toggle active" href="javascript:void(0)"-->
<!--                                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                                                BROWSE-->
<!--                                            </a>-->
<!--                                            <ul class="dropdown-menu megamenu flexable-megamenu">-->
<!--                                                <li>-->
<!--                                                    <div class="container">-->
<!--                                                        <div class="row">-->
<!--                                                            <div class="col-lg-3 col-md-6 col-sm-12 mengmenu_border">-->
<!--                                                                <ul>-->
<!--                                                                    <h5 class="dropdown-title"></h5>-->
<!--                                                                    <li><i-->
<!--                                                                            class="lni-angle-double-right right-arrow"></i><a-->
<!--                                                                            class="dropdown-item"-->
<!--                                                                            href="book-shop\product-listing.html">Recommendations</a>-->
<!--                                                                    </li>-->
<!--                                                                    <li><i-->
<!--                                                                            class="lni-angle-double-right right-arrow"></i><a-->
<!--                                                                            class="dropdown-item"-->
<!--                                                                            href="book-shop\product-listing.html">Choice-->
<!--                                                                        Awards</a></li>-->
<!--                                                                    <li><i-->
<!--                                                                            class="lni-angle-double-right right-arrow"></i><a-->
<!--                                                                            class="dropdown-item"-->
<!--                                                                            href="book-shop\product-listing.html">Lists</a>-->
<!--                                                                    </li>-->
<!--                                                                    <li><i-->
<!--                                                                            class="lni-angle-double-right right-arrow"></i><a-->
<!--                                                                            class="dropdown-item"-->
<!--                                                                            href="book-shop\product-listing.html">Giveaways</a>-->
<!--                                                                    </li>-->
<!--                                                                    <li><i-->
<!--                                                                            class="lni-angle-double-right right-arrow"></i><a-->
<!--                                                                            class="dropdown-item"-->
<!--                                                                            href="book-shop\product-listing.html">New &-->
<!--                                                                        Interviews</a></li>-->

<!--                                                                </ul>-->

<!--                                                            </div>-->
<!--                                                            <div class="col-lg-3 col-md-6 col-sm-12 mengmenu_border">-->
<!--                                                                <h5 class="dropdown-title"> FAVORITE GENRES </h5>-->
<!--                                                                <ul>-->
<!--                                                                    <li><i-->
<!--                                                                            class="lni-angle-double-right right-arrow"></i><a-->
<!--                                                                            class="dropdown-item"-->
<!--                                                                            href="book-shop\product-listing.html">Romance</a>-->
<!--                                                                    </li>-->
<!--                                                                    <li><i-->
<!--                                                                            class="lni-angle-double-right right-arrow"></i><a-->
<!--                                                                            class="dropdown-item"-->
<!--                                                                            href="book-shop\product-listing.html">Fantasy</a>-->
<!--                                                                    </li>-->

<!--                                                                </ul>-->


<!--                                                            </div>-->

<!--                                                            <div class="col-lg-6 col-md-12 col-sm-12">-->
<!--                                                                <h5 class="dropdown-title text-left">NEW RELEASES-->
<!--                                                                </h5>-->
<!--                                                                <div class="carousel-menu mt-4">-->
<!--                                                                    <div-->
<!--                                                                            class="featured-megamenu-carousel owl-carousel owl-theme">-->
<!--                                                                        <div class="item ">-->
<!--                                                                            <img th:src="@{img/shop1.jpg}"-->
<!--                                                                                 alt="shop-image">-->
<!--                                                                        </div>-->
<!--                                                                        <div class="item">-->
<!--                                                                            <img th:src="@{img/shop2.jpg}"-->
<!--                                                                                 alt="shop-image">-->
<!--                                                                        </div>-->
<!--                                                                    </div>-->
<!--                                                                    <i class="lni-chevron-left ini-customPrevBtn"></i>-->
<!--                                                                    <i class="lni-chevron-right ini-customNextBtn"></i>-->
<!--                                                                </div>-->
<!--                                                                <p class="mt-4 megamenu-slider-para">Lorem Ipsum is-->
<!--                                                                    simply dummy text of the printing and typesetting-->
<!--                                                                    industry.</p>-->
<!--                                                                <a href="book-shop\product-listing.html"-->
<!--                                                                   class="btn black-border-color-yellow-gradient-btn slider-btn text-left">Find-->
<!--                                                                    More</a>-->
<!--                                                            </div>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                </li>-->
<!--                                            </ul>-->
<!--                                        </li>-->

<!--                                        <li class="nav-item dropdown position-relative">-->
<!--                                            <a class="nav-link dropdown-toggle" href="javascript:void(0)"-->
<!--                                               data-toggle="dropdown" aria-haspopup="true"-->
<!--                                               aria-expanded="false">COMMUNITY</a>-->
<!--                                            <div class="dropdown-menu">-->
<!--                                                <ul>-->
<!--                                                    <li><i class="lni-angle-double-right right-arrow"></i><a-->
<!--                                                            class="dropdown-item"-->
<!--                                                            href="book-shop\product-listing.html">Groups</a></li>-->
<!--                                                    <li><i class="lni-angle-double-right right-arrow"></i><a-->
<!--                                                            class="dropdown-item"-->
<!--                                                            href="book-shop\product-detail.html">Discussions</a></li>-->
<!--                                                    <li><i class="lni-angle-double-right right-arrow"></i><a-->
<!--                                                            class="dropdown-item"-->
<!--                                                            href="book-shop/shop-cart.html.html">Quotes</a></li>-->
<!--                                                    <li><i class="lni-angle-double-right right-arrow"></i><a-->
<!--                                                            class="dropdown-item"-->
<!--                                                            href="book-shop/shop-cart.html.html">People</a></li>-->
<!--                                                    <li><i class="lni-angle-double-right right-arrow"></i><a-->
<!--                                                            class="dropdown-item"-->
<!--                                                            href="book-shop/shop-cart.html.html">Ask the Author</a></li>-->
<!--                                                </ul>-->
<!--                                            </div>-->
<!--                                        </li>-->

<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </nav>-->

<!--                        &lt;!&ndash; side menu &ndash;&gt;-->
<!--                        <div class="side-menu opacity-0 gradient-bg hidden">-->
<!--                            <div class="inner-wrapper">-->
<!--                                <span class="btn-close btn-close-no-padding" id="btn_sideNavClose"></span>-->
<!--                                <nav class="side-nav w-100">-->
<!--                                    <ul class="navbar-nav">-->
<!--                                        <h6 class="mb-5">Xin chào, <span class="username">Tai Dao!</span></h6>-->
<!--                                        <li class="nav-item">-->
<!--                                            <a class="nav-link" href="book-shop\product-listing.html">PROFILE</a>-->
<!--                                        </li>-->
<!--                                        <li class="nav-item">-->
<!--                                            <a class="nav-link" href="book-shop\product-listing.html">FRIENDS</a>-->
<!--                                        </li>-->
<!--                                        <li class="nav-item">-->
<!--                                            <a class="nav-link" href="book-shop\product-listing.html">GROUPS</a>-->
<!--                                        </li>-->
<!--                                        <li class="nav-item">-->
<!--                                            <a class="nav-link" href="book-shop\product-listing.html">DISCUSSIONS</a>-->
<!--                                        </li>-->
<!--                                        <li class="nav-item">-->
<!--                                            <a class="nav-link" href="book-shop\product-listing.html">COMMENTS</a>-->
<!--                                        </li>-->
<!--                                        <li class="nav-item">-->
<!--                                            <a class="nav-link" href="book-shop\product-listing.html">READING-->
<!--                                                CHALLENGE</a>-->
<!--                                        </li>-->
<!--                                        <li class="nav-item">-->
<!--                                            <a class="nav-link" href="book-shop\product-listing.html">QUOTES</a>-->
<!--                                        </li>-->
<!--                                        <li class="nav-item">-->
<!--                                            <a class="nav-link" href="book-shop\product-listing.html">FAVORITE-->
<!--                                                GENRES</a>-->
<!--                                        </li>-->
<!--                                        <div class="dropdown-divider"></div>-->
<!--                                        <li class="nav-item">-->
<!--                                            <a class="nav-link" href="book-shop\product-listing.html">ACCOUNT-->
<!--                                                SETTINGS</a>-->
<!--                                        </li>-->
<!--                                        <li class="nav-item">-->
<!--                                            <a class="nav-link" href="book-shop\product-listing.html">SIGN OUT</a>-->
<!--                                        </li>-->
<!--                                    </ul>-->
<!--                                </nav>-->
<!--                                <div class="side-footer w-100">-->
<!--                                    <ul class="social-icons-simple white top40">-->
<!--                                        <li><a class="facebook-bg-hvr" href="javascript:void(0)"><i-->
<!--                                                class="fab fa-facebook-f"></i> </a></li>-->
<!--                                        <li><a class="twitter-bg-hvr" href="javascript:void(0)"><i-->
<!--                                                class="fab fa-twitter"></i> </a></li>-->
<!--                                        <li><a class="instagram-bg-hvr" href="javascript:void(0)"><i-->
<!--                                                class="fab fa-instagram"></i> </a></li>-->
<!--                                    </ul>-->
<!--                                    <p class="whitecolor">&copy; <span id="year"></span> 2023 DT'books</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div id="close_side_menu" class="tooltip"></div>-->
<!--                        &lt;!&ndash; End side menu &ndash;&gt;-->
<!--                    </header>-->
<!--                    <div class="nav-utility">-->
<!--                        <div class="manage-icons d-inline-block">-->
<!--                            <ul class="d-flex justify-content-center align-items-center">-->
<!--                                <li class="d-inline-block">-->
<!--                                    <div class="input-group mb-1">-->
<!--                                        <input type="text" class="form-control" placeholder="Search">-->
<!--                                        <div class="input-group-append">-->
<!--                                            <button class="btn btn-regis-signin" type="submit"><i-->
<!--                                                    class="lni lni-search search-sidebar-hover"></i></button>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </li>-->
<!--                                <li class="d-inline-block ml-3">-->
<!--                                    <div class="btn-group btn-group-regis">-->
<!--                                        <a type="button" href="/login" class="btn btn-regis-signin">SIGN IN</a>-->
<!--                                        <a type="button" href="/signup" class="btn btn-regis-signup">SIGN UP</a>-->
<!--                                    </div>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                </div>-->

<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--</th:block>-->