* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  word-spacing: 0.2rem;
  font-family: "Montserrat", sans-serif;
}
li {
  list-style-type: none;
}
.img {
  font-size: 100%;
}
a {
  text-decoration: none;
  color: black;
}
.contact {
  height: 100%;
  width: 100%;
  display: flex;
}
.contact_nav {
  flex: 20%;
}

.contact_content {
  flex: 80%;
  display: flex;
}
.contact_image {
  flex: 50%;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  overflow: hidden;
}
.contact_image img {
  width: 100%;
  box-shadow: 0px 4px 7px 0px rgba(100, 100, 111, 0.397);
  border-radius: 1rem;
  transition: all 0.25s;

  animation: slide-top 2s;
}
.contact_image img:hover {
  opacity: 0.6;
  /* transform: scale(1.1); */
}

.contact_detail {
  flex: 50%;
  display: flex;
  align-items: center;
  padding: 8rem;
}
.contact_detail1 {
  font-size: 2rem;
  line-height: 4.5rem;
}
.contact_detail1 h1 {
  margin-bottom: 2rem;
  background-image: linear-gradient(
    to right bottom,
    rgb(232, 191, 115),
    rgb(115, 128, 137)
  );
  display: inline-block;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;

  animation: slide-top 2s;
}
.contact_detail1 ul li {
  opacity: 0;
  font-weight: 500;
  transition: all 0.25s;
  cursor: pointer;
  animation: slide-top 2s 2s forwards;
}
.contact_detail1 ul li:hover {
  background-image: linear-gradient(
    to right bottom,
    rgb(232, 191, 115),
    rgb(115, 128, 137)
  );
  display: inline-block;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.contact_detail1 ul li i {
  margin-right: 1rem;
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}
