* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  word-spacing: 0.2rem;
  font-family: "Montserrat", sans-serif;
}
li {
  list-style-type: none;
}
.img {
  font-size: 100%;
}
a {
  text-decoration: none;
  color: black;
}
.wrapper {
  width: 100vw;
  height: 100vh;
}
.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.info {
  flex: 20%;
  /* text-align: center; */
  padding: 3rem;
  font-size: 1.5rem;
}
.info_name {
  margin: 3rem;
  font-weight: 700;
  display: inline-block;
  font-size: 3rem;

  background-image: linear-gradient(
    to right bottom,
    rgb(232, 191, 115),
    rgb(115, 128, 137)
  );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;

  animation: slide-top 2.5s infinite alternate;
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}

.info_detail ul li {
  border-bottom: 1px solid rgba(218, 216, 216, 0.74);
  padding: 1.5rem;
  font-weight: 400;
}
.info_detail ul li a,
.info_social ul li a {
  transition: all 0.25s;
  display: inline-block;
}
ul li a:hover {
  color: rgb(232, 191, 115);
  font-size: 1.7rem;
}
.info_detail ul li:last-child {
  border: none;
}
.info_social {
  padding-top: 6.5rem;
  font-size: 1.6rem;
}
.info_social ul {
  display: flex;
  justify-content: space-around;
}
.describe {
  flex: 80%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url(./image/photo-cover1.avif);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}
.describe_content {
  text-align: center;
}
.describe_content p:first-child {
  font-size: 3.5rem;
  opacity: 0;
  animation: slide-top 2s 2s forwards;
}
.describe_content h2 {
  font-size: 5rem;
  opacity: 0;
  animation: slide-top 2s 4s forwards;
}
.describe_content p:last-child {
  font-size: 1.6rem;
  opacity: 0;
  animation: slide-top 2s 6s forwards;
}
