<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout :: main-fragment(
                                                ~{:: title},
                                                ~{:: #css},
                                                ~{:: #header},
                                                ~{:: #main-content},
                                                ~{:: #footer},
                                                ~{:: #js}
                                                )}">
<head>

    <title>Book - Review</title>
    <th:block id="css">
        <style>
            .tg-authorbox {
                display: flex;
            }
        </style>
    </th:block>

</head>
<body>

<div id="tg-wrapper" class="tg-wrapper tg-haslayout">
    <!--************************************
            Header Start
    *************************************-->
    <th:block id="header" th:replace="fragments/header :: header"></th:block>
    <!--************************************
            Header End
    *************************************-->
    <th:block id="main-content" th:with="book=${bookDetail} ">
        <!--************************************
                Inner Banner Start
        *************************************-->
        <div class="tg-innerbanner tg-haslayout tg-parallax tg-bginnerbanner" data-z-index="-100"
             data-appear-top-offset="600" data-parallax="scroll"
             th:attr="data-image-src=@{/original/images/parallax/bgparallax-07.jpg}">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="tg-innerbannercontent">
                            <h1>Reviews</h1>
                            <ol class="tg-breadcrumb">
                                <li><a href="javascript:void(0);">home</a></li>
                                <li><a href="javascript:void(0);">Books</a></li>
                                <li><a href="javascript:void(0);">title</a></li>
                                <li class="tg-active">Review</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--************************************
                Inner Banner End
        *************************************-->
        <!--************************************
                Main Start
        *************************************-->
        <main id="tg-main" class="tg-main tg-haslayout">
            <!--************************************
                    News Grid Start
            *************************************-->
            <div class="tg-sectionspace tg-haslayout">
                <div class="container">
                    <div class="row">
                        <div id="tg-twocolumns" class="tg-twocolumns">
                            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9 pull-right">
                                <div id="tg-content" class="tg-content">
                                    <div class="tg-newsdetail">

                                        <div class="tg-authorbox">
                                            <figure class="tg-img" style="width: 100px; padding: 3px;">
                                                <img th:src="${book.image}" alt="image description">
                                            </figure>
                                            <div class="tg-authorinfo">
                                                <div class="tg-authorhead">
                                                    <div class="tg-leftarea">
                                                        <div class="tg-authorname">
                                                            <h2 th:text="${book.title}">Kathrine Culbertson</h2>
                                                            <span th:text="${book.author}">Author Since: June 27, 2017</span>
                                                        </div>
                                                    </div>

                                                </div>

                                                <a class="tg-btn tg-active" href="javascript:void(0);">View All
                                                    Books</a>
                                            </div>
                                        </div>

                                        <div class="tg-leaveyourcomment">

                                            <form class="tg-formtheme tg-formleavecomment">
                                                <fieldset>
                                                    <div class="form-group" style="width: 100%">
                                                        <textarea placeholder="Enter your review" rows="5"></textarea>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Date started: </label>
                                                        <input type="date" name="date started" class="form-control"
                                                               placeholder="Date started">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Date finished: </label>
                                                        <input type="date" name="date finished" class="form-control"
                                                               placeholder="Date finished">
                                                    </div>
                                                    <div class="form-group">
                                                        <a class="tg-btn tg-active"
                                                           href="javascript:void(0);">Post</a>
                                                    </div>
                                                </fieldset>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 pull-left">
                                <th:block id="tg-sidebar" th:replace="fragments/sidebar :: sidebar"></th:block>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--************************************
                    News Grid End
            *************************************-->
        </main>
        <!--************************************
                Main End
        *************************************-->
    </th:block>
    <!--************************************
            Footer Start
    *************************************-->
    <th:block id="footer" th:replace="fragments/footer :: footer"></th:block>
    <!--************************************
            Footer End
    *************************************-->
</div>
<!--************************************
        Wrapper End
*************************************-->

<th:block id="js">
    <script th:inline="javascript">

    </script>
</th:block>
</body>

</html>