* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  word-spacing: 0.2rem;
  font-family: "Montserrat", sans-serif;
}
li {
  list-style-type: none;
}
.img {
  font-size: 100%;
  object-fit: cover;
}
a {
  text-decoration: none;
}

.goal {
  width: 100vw;
  height: 100vh;
  display: flex;
}
.goal-nav {
  flex: 20%;
}
.goal_content {
  flex: 80%;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to right bottom, #e8bf7393, #73808986);
}
.goal_image {
  flex: 30%;
}
.goal_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0px 4px 7px 0px rgba(100, 100, 111, 0.986);
}
.goal_describe {
  padding: 0 5rem;
  flex: 70%;
  display: flex;
  align-items: center;

  font-size: 1.3rem;
  line-height: 2.5rem;
}
